<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= "Email is publicly visible?" %><br />
    <%= f.check_box :email %>
  </div>
  <div class="field">
    <br/><%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :msn %><br />
    <%= f.text_field :msn %>
  </div>
  <div class="field">
    <%= f.label :yahoo %><br />
    <%= f.text_field :yahoo %>
  </div>
  <div class="field">
    <%= f.label :skype %><br />
    <%= f.text_field :skype %>
  </div>
  <div class="field">
    <%= f.label :gtalk %><br />
    <%= f.text_field :gtalk %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
