<table class="table table-bordered">
  <tr>
    <td bgcolor="lightgray" style="width: 200px; white-space: nowrap;"><h5><%= @profile.user.username %></h5><% if @profile.user.admin? %>Administrator</br><% end %><% if current_user.id != @profile.user_id %><br/><%= link_to "Send PM", "/pms/new?id=#{@profile.user.username}", :class => "btn btn-mini", :target => "_blank" %><% end %></td>
    <td>
      <% if !@profile.nil? %>
        Real name: <%= @profile.name %><br/>
      <% end %>
      <% if !@profile.nil? %>
        Location: <%= @profile.location %><br/>
      <% end %>

      Registered: <%= l @profile.user.created_at.localtime.to_date %><br/>
      Posts: <%= @profile.user.posts.count %>
    </td>
  </tr>
  <tr>
    <td bgcolor="lightgray">
      <span style="float:right"><h6>Contact information</h6></span>
    </td>
    <td>
      <% if @profile.email %>
        Email: <%= @profile.user.email %><br/>
      <% end %>
      <% if !@profile.nil? %>
        Website: <%= link_to @profile.website, @profile.website %><br/>
      <% end %>
      <% if !@profile.nil? %>
      MSN: <%= @profile.msn %><br/>
      <% end %>
      <% if !@profile.nil? %>
      Yahoo: <%= @profile.yahoo %><br/>
      <% end %>
      <% if !@profile.nil? %>
      Skype: <%= @profile.skype %><br/>
      <% end %>
      <% if !@profile.nil? %>
      Google Talk: <%= @profile.gtalk %>
      <% end %>
    </td>
  </tr>
</table>

