<% provide(:band_path, "/bands/#{@topic.band.id}") %>
<% provide(:band_name, @topic.band.band_name) %>
<% provide(:album_path, "/albums/#{@topic.album.id}") %>
<% provide(:album_name, @topic.album.album_name) %>
<% provide(:topic_path, "/topics/#{@topic.id}") %>
<% provide(:topic_name, @topic.topic_name) %>

<table class="table table-bordered">
<tbody>
<% @topic.posts.each do |post| %>
  <tr>
    <td bgcolor="lightgray" rowspan="2" style="width: 1px; white-space: nowrap;"><h5><%= post.user.email %></h5><br/><h6>Registered: <%= l post.user.created_at.localtime.to_date %><br/>Posts: <%= post.user.posts.count %></h6></td>
    <td bgcolor="lightblue" colspan="2"><%= l post.created_at.localtime %></td>
  <tr>
    <td style="height: 100px; white-space: nowrap;"><%= simple_format h post.post_content %>
    <% if post.updated_at != post.created_at %>
      <hr>
      <div style="float:right;color:grey;">
        Last edited <%= l post.updated_at.localtime %>
      </div>
    <% end %>
    </td>
    <td bgcolor="lightgray" style="width: 1px; white-space: nowrap;"><%= link_to 'Edit', "#{edit_post_path(post)}?band_id=#{@topic.band.id}&album_id=#{@topic.album.id}&topic_id=#{@topic.id}", :class => "btn btn-mini" %>&nbsp;<%= link_to 'Delete', post, :class => "btn btn-mini", :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>  
</table>
</div>

<%= link_to "New post", {:controller => "posts", :action => "new", :band_id => @topic.band.id, :album_id => @topic.album.id, :topic_id => @topic.id }, :class => "btn btn-mini" %>
<%= link_to "Back", "/albums/#{@topic.album.id}", :class => "btn btn-mini" %>

<% if false %>
<br/><br/><br/><br/><br/>

<p>
  <b>Topic name:</b>
  <%= @topic.topic_name %>
</p>

<p>
  <b>Band:</b>
  <%= @topic.band_id %>
</p>

<p>
  <b>Album:</b>
  <%= @topic.album_id %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
<% end %>
