<table class="table table-striped">  
<thead>  
  <tr>  
    <th>Band name</th>  
    <th># of Albums</th>  
    <th># of Topics</th>  
    <th># of Posts</th> 
    <th></th> 
  </tr>  
</thead>  
<tbody>
<% @bands.each do |band| %>
  <tr>
    <td><%= link_to band.band_name, band %></td>
    <td><%= band.albums.count %></td>
    <td><%= band.topics.count %></td>
    <td><%= band.posts.count %></td>
    <td><% if current_user.admin? %><%= link_to 'Edit', edit_band_path(band), :class => "btn btn-mini" %>&nbsp;<%= link_to 'Delete', band, :class => "btn btn-mini", :method => :delete, :data => { :confirm => 'Are you sure?' } %><% end %></td>
  </tr>
<% end %>
</tbody>  
</table>
<% if current_user.admin? %><%= link_to "New band", '/bands/new', :class => "btn btn-mini" %><% end %>

<% if false %>
<br/><br/><br/><br/><br/>

<table>
  <tr>
    <th>Band name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bands.each do |band| %>
  <tr>
    <td><%= band.band_name %></td>
    <td><%= link_to 'Show', band %></td>
    <td><%= link_to 'Edit', edit_band_path(band) %></td>
    <td><%= link_to 'Destroy', band, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Band', new_band_path %>
<% end %>
