<!DOCTYPE html>
<html>
<head>
  <title>
    Forum of the Bands
    <% if !yield(:band_path).empty? %>
      <%= ' > ' + yield(:band_name) %>
    <% end %>
    <% if !yield(:album_path).empty? %>
      <%= ' > ' + yield(:album_name) %>
    <% end %>
    <% if !yield(:topic_path).empty? %>
      <%= ' > ' + yield(:topic_name) %>
    <% end %>
  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <script type="text/javascript">
      setInterval( function() {$("#refreshable").load(location.href+" #refreshable>*", "");}, 5000);
    </script>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Forum of the Bands", '/', :id => "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><% if !user_signed_in? %>
                    <%= link_to "Sign in", '/users/sign_in' %>
                  <% else %>
                    <div class="btn-group">
                      <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                        <%= "Welcome, #{current_user.username}" %>
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Private messages</a></li>
                        <li><a tabindex="-1" href="/profiles/<%= current_user.id %>">View profile</a></li>
                        <li><a tabindex="-1" href="/profiles/<%= current_user.id %>/edit">Edit profile</a></li>
                        <li><a tabindex="-1" href="/users/edit">Account settings</a></li>
                        <li class="divider"></li>
                        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                      </ul>
                    </div>
                  <% end %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <ul class="nav nav-pills" style="font-size:150%">
        <% if !yield(:band_path).empty? or params[:controller] == "bands" %>
          <li class="disabled"><a>></a></li>
          <li>
            <a href=<%= yield(:band_path) %>>
              <%= yield(:band_name) %></a>
          </li>
        <% end %>
        <% if !yield(:album_path).empty? %>
        <li class="disabled"><a>></a></li>
        <li>
          <a href=<%= yield(:album_path) %>>
            <%= yield(:album_name) %></a>
        </li>
        <% end %>
        <% if !yield(:topic_path).empty? %>
        <li class="disabled"><a>></a></li>
        <li>
          <a href=<%= yield(:topic_path) %>>
            <%= yield(:topic_name) %></a>
        </li>
        <% end %>
      </ul>
      <p id="notice"><%= flash[:notice] %>&nbsp;<%= flash[:alert] %></p>
      
      <% if (params[:action] == "show" and params[:controller] != "profiles") or (params[:action] == "index" and params[:controller] == "bands") %>
        <div id="refreshable">
          <%= yield %>
        <div/>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
    <br/><br/>
  </body>
</html>
