<!DOCTYPE html>
<html>
<head>
  <title>Forum of the Bands</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Forum of the Bands", '/', :id => "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "#{current_user.email}", '/users/edit' if user_signed_in? %></li>
              <li><%= if !user_signed_in?
                        link_to "Sign in", '/users/sign_in'
                      else
                        link_to 'Sign out', destroy_user_session_path, :method => :delete
                      end %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <p id="notice"><%= flash[:alert] %></p>
      <p id="notice"><%= flash[:notice] %></p>
      <ul class="nav nav-pills" style="font-size:150%">
        <li class="disabled"><a>></a></li>
        <% if !yield(:band_path).empty? %>
        <li>
          <a href=<%= yield(:band_path) %>>
            <%= yield(:band_name) %></a>
        </li>
        <% end %>
        <% if !yield(:album_path).empty? %>
        <li class="disabled"><a>></a></li>
        <li>
          <a href=<%= yield(:album_path) %>>
            <%= yield(:album_name) %></a>
        </li>
        <% end %>
        <% if !yield(:topic_path).empty? %>
        <li class="disabled"><a>></a></li>
        <li>
          <a href=<%= yield(:topic_path) %>>
            <%= yield(:topic_name) %></a>
        </li>
        <% end %>
      </ul>
      <%= yield %>
    </div>
    <br/><br/>
  </body>
</html>
