<!DOCTYPE html>
<html>
<head>
  <title>Forum of the Bands</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Forum of the Bands", '/', :id => "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "#{current_user.email}", '/users/edit' if user_signed_in? %></li>
              <li><%= if !user_signed_in?
                        link_to "Sign in", '/users/sign_in'
                      else
                        link_to 'Sign out', destroy_user_session_path, :method => :delete
                      end %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
